/* App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

nav {

}

.App {
  max-width: none;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  padding-top: 40px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Custom styles for the navbar */
.custom-navbar {
  background-color: #333;
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 0 1rem; 
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  z-index: 1;
}

.custom-navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; 
  align-items: center; 
  width: 100%; 
}

.custom-navbar-item {
  margin-right: 1rem; 
}

.custom-navbar-link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.custom-navbar-link:hover {
  background-color: #111;
}

.custom-navbar-right {
  margin-left: auto; /* Add this line to push it to the right */
  display: flex; /* Add this line to align items */
  align-items: center; /* Add this line */
}

.mainBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  padding-top: 60px;
  background-color: #fff;
}

/* Stock data styles */
.stock-data {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: inline-block;
  text-align: left;
}

.stock-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stock-item {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: aliceblue;
}

.stock-symbol {
  font-weight: bold;
  padding: 10px 20px;
}

.stock-price {
  padding: 10px 20px;
  color: green;
  font-weight: bold;
}

.homeBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  max-height: calc(100vh - 46.5px);
  overflow-y: auto;
  background-color: #fff;
  margin-top: 60px;
  z-index: -1;
  padding: 20px; 
}

.static-content {
  margin-bottom: 20px; 
}

.dynamic-content {
  width: 100%; 
}

.form-control {
  width: 100%; 
}
